# DataFrame, Indexing and Selecting
    - Square Brackets
    - Advanced Methods
        * loc
        * iloc

### Column Access
    - Square Brackets
    - single Square Bracket
        selected column: 1D labelled array
    - double Sqaure Brackets
        sub DataFrame

In [13]:
import pandas as pd

df = pd.DataFrame({
    "col1": [1, 2, 3, 4, 5, 6],
    "col2": ["val1", "val2", 'val3', "val4", "val5", "val6"],
    "col3": [1.00, 2.00, 3.00, 4.00, 5.00, 6.00]
    })

df.index = [f'idx{i}' for i in range(1,7)]

print(df)
print(df['col1'])
print(df[['col2', 'col3']])

      col1  col2  col3
idx1     1  val1   1.0
idx2     2  val2   2.0
idx3     3  val3   3.0
idx4     4  val4   4.0
idx5     5  val5   5.0
idx6     6  val6   6.0
idx1    1
idx2    2
idx3    3
idx4    4
idx5    5
idx6    6
Name: col1, dtype: int64
      col2  col3
idx1  val1   1.0
idx2  val2   2.0
idx3  val3   3.0
idx4  val4   4.0
idx5  val5   5.0
idx6  val6   6.0

### Row Access[]
    - slicing with single bracket and index

In [14]:
df[1:4]

      col1  col2  col3
idx2     2  val2   2.0
idx3     3  val3   3.0
idx4     4  val4   4.0

### multi-dimensional
    - 2d Numpy Array
        df[rows, columns]

    - Pandas row access
        - loc (label-based)
            * single bracket for single row
            * double brackets for multiple rows
                      
        - iloc (integer position-based)
            * single square bracket for single row
            * single square with index slicing

In [17]:
df.loc["idx1"]
df.loc[["idx2", "idx3"]]

      col1  col2  col3
idx2     2  val2   2.0
idx3     3  val3   3.0

In [18]:
df.iloc[1]
df.iloc[1:3]

      col1  col2  col3
idx2     2  val2   2.0
idx3     3  val3   3.0

### Row and Column 
    - loc: two element in square bracket for the entire row, and sub columns each
    - iloc: two element in square bracket for the indexing row, and indexing column as well

In [29]:
df.loc[:, ["col1", "col2"]]

      col1  col2
idx1     1  val1
idx2     2  val2
idx3     3  val3
idx4     4  val4
idx5     5  val5
idx6     6  val6

In [27]:
df.iloc[1:3, 1:4]

      col2  col3
idx2  val2   2.0
idx3  val3   3.0

In [32]:
df.loc["idx1", ["col2","col3"]] # this works - for rows only with dataframe indexes

col2    val1
col3     1.0
Name: idx1, dtype: object

In [37]:
print(df.loc["idx1"])
df.loc["idx1"] # as a series value of a raw - an object

col1       1
col2    val1
col3     1.0
Name: idx1, dtype: object

col1       1
col2    val1
col3     1.0
Name: idx1, dtype: object

In [36]:
print(type(df.loc[["idx1"]]))
df.loc[["idx1"]] # as a row of dataframe

<class 'pandas.core.frame.DataFrame'>

      col1  col2  col3
idx1     1  val1   1.0

### Comparison Operators
    - numeric to numeric 
    - string to string
    - numeric to string (TypeError Raised)

In [39]:
import numpy as np

npComp = np.array([1, 2, 3, 4, 5, 6, 7, 8])
npComp < 5

array([ True,  True,  True,  True, False, False, False, False])

### Boolean Operators
    - and, or, not for combining operators
    - compare the results of comparison

In [43]:
True and True

True

In [44]:
True and False

False

In [46]:
True or False

True

In [49]:
True ^ True

False

### not
    - opposite to the value
    - Ture to False
    - False to True

In [50]:
not True

False

In [51]:
not False

True

### Numpy Mutiple Comparison
    - logical_and()
    - logical_or()
    - logical_not()

    give two args

In [55]:
boolComp = np.logical_and(npComp >= 3, npComp < 6)
npComp[boolComp]

array([3, 4, 5])

### if, elif, else
    - conditional statements

In [56]:
z = 4
if z % 2 == 0:
    print(f"{z} is even")
else:
    print(f"{z} is odd")

4 is even

### Filtering Pandas DataFrames