* Q1. Given two excel files as shown below one with meta data showing the data type of each column and other with actual data of all columns. Wirte python code to automate the validation for each row of actual data excel using metadata excel to check if all the columns have valid data types as per Metadata excel. Indicate the final output showing all rows of actual data with validation status column is showing if a row is valid or now.

In [ ]:
import pandas as pd #pd.NaT
import numpy as np # np.NaN


metaData =  pd.DataFrame([("Name", "str"), ("Age", "int"), ("Salary", "float")], columns=["columnName", "DataType"])
dataSet = pd.DataFrame({
        "Name": ["Emp1", "Emp2", "Emp3"],
        "Age": [34, pd.NA, 25],
        "Salary": [45689.24, 89950.56, 89457.78]
    })

In [ ]:
metaData
dataSet

   Name   Age    Salary
0  Emp1  34.0  45689.24
1  Emp2   NaN  89950.56
2  Emp3  25.0  89457.78

* Q2. Given a list of values as shown below. Write code in python to find the number with maximum occurrences.

    2, 6, 3, 5, 7, 8, 3, 4, 9, 6, 4, 2, 6, 4, 5, 4

In [ ]:
def getMaxNum(list):
    d = {}
    num = None
    maxNum = 1
    for x in list:
        if num is None:
            num = x
        if x not in d:
            d[x] = 1
        else:
            d[x] += 1

        if maxNum < d[x]:
            maxNum = d[x]
            num = x
    
    return [num, maxNum]
        
getMaxNum([2, 6, 3, 5, 7, 8, 3, 4, 9, 6, 4, 2, 6, 4, 5, 4]

)

* 3. Given a sorted list of values as shown below. Write code in python to find the position(index) of Number 32.

    2, 6, 18, 22, 24, 32, 45, 56, 66, 99, 100

In [ ]:
def getIndex(list, start, end, tgt):

    midpoint = len(list)//2-1
    print(midpoint)

    if list[midpoint] == tgt:
        return midpoint
    elif list[midpoint] < tgt:
        start = midpoint 
        return getIndex(list, start, end, tgt)
    elif list[midpoint] > tgt:
        end = midpoint
        return getIndex(list, start, end, tgt)
    else:
        return None


list = [ 2, 6, 18, 22, 24, 32, 45, 56, 66, 99, 100]


print(getIndex(list, 0, len(list), 32))

* Q4. Given two tables write a SQL Query to join these tables Table1, Table 2 and get the output as shown below